@import 'modules/config';

.container {
    display: ternary(feature(first-feature), inline-block, none);
    font-weight: t(feature(second-feature), bold, normal);
    padding: 5px;
    color: white;
    @include feature(first-feature){
        background: blue;
    }
}

@include features((first-feature, third-feature)){
    .container:after {
        content: "Yeah!";
        display: inline-block;
        color: red;
    }
}

@each $feature, $flag in $features {
   .#{$feature} {
        &:after {
            content: t(nth($flag, index($environments, $environment)), "True", "False");
        }
   }
}

table {
    border-collapse: collapse;
    margin: .25em;
}

td, th {
    border-bottom: 1px solid #000000;
    padding: .25em .5em;
}

th {
    text-align: left;
}